{% load static %}
<html>
<head>
<title>Removing of Multiple Votes by using De-Duplication Analysis</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<center><font size="4" color="yellow">Removing of Multiple Votes by using De-Duplication Analysis</font></center>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">
		<ul><center>
	  <li><a href="{% url 'ViewVoters' %}">View by Voter ID</a></li>
	  <li><a href="{% url 'AddNewVoter' %}">Add New Voter</a></li>
	  <li><a href="{% url 'RemoveDuplicate' %}">Remove Duplicate Data</a></li>
	  <li><a href="{% url 'Download' %}">Download Unique Data</a></li>
      <li><a href="{% url 'index' %}">Logout</a></li>		
		</center></ul>
		<br class="clearfix" />
	</div>
	<div id="splash">
		<img class="pic" src="{% static 'images/investor.jpg' %}" width="870" height="130" alt="" />
	</div>
	<br/>
	<font size="" color="black"><center>{{ data|safe }}</center></font>

	<p align="justify"><font size="3" style="font-family: Comic Sans MS" color="black">
		Removing of Multiple Votes by using De-Duplication Analysis.

</p>
</body>
</html>
